body {
    background: url("../assets/pictures/wallpaper-small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    margin: 0 auto;
    
}

#main {
    display:flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
    width: 300px;
}
img {
    width: inherit;
}

#main-logo {
    width: 100px;
    cursor: auto;
    margin: 0 auto;
    padding-top: 5rem;
    color: rgb(255, 226, 255);
    font-size: 3rem;
}

#play-zone {
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
    width: 250px;
}
#radio-zone {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    gap: 4rem;
}

#title {
    cursor: auto;
    padding-top: 5rem;
    text-align: center;
    color: rgb(255, 226, 255);
    font-size: 3rem;
}

.button{
    padding: 0.1rem 0.1rem;
    border-radius: 20px;
    background-color: white;
    border: none;
    color: #A65466;
    margin: 0 1em;
    box-shadow: 3px 3px 5px 1px rgba(39, 39, 39, 0.486);

}
.button:hover {
    background-color: #A65466;
    color: white;
}

.radio-button {
    padding: auto;
    text-align: center;
    width: 80px;
    background: transparent;
    border: none;
    height:80px;
    border-radius: 50%;
}
.radio-button:hover {
    box-shadow: 0 1px 10px 10px rgb(255, 235, 179);
}

#play-button {

}

#stop-button {

}