body {
    background: url("../assets/pictures/wallpaper-small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    
}

#main {
    display:flex;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
    width: 86vw;
    min-width: 546px;
}
img {
    width: inherit;
}

#main-logo {
    width: 100px;
    cursor: auto;
    margin: 0 auto;
    padding-top: 5rem;
    color: rgb(255, 226, 255);
    font-size: 3rem;
}

#play-zone {
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    width: 250px;
}
#radio-zone {
    backdrop-filter: blur(5px) brightness(10%);
    position: relative;
    padding: 0.5rem 1rem;
    background: linear-gradient(rgba(253, 221, 115, 0.048), rgba(253, 221, 115, 0.329));
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
    width: 800px;
}

#radio-zone::before {
    content: "";
    z-index: -1;
    position: absolute;
    background-color: transparent;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    filter: blur(1rem);

}


#title {
    cursor: auto;
    padding-top: 5rem;
    text-align: center;
    color: rgb(255, 226, 255);
    font-size: 3rem;
}

.button{

    padding: 0.25rem 0.6rem 0;
    border-radius: 20px;
    background-color: white;
    border: none;
    color: #A65466;
    margin: 0 1em;

}
.button:hover {
    fill: white;
    background: #F5833C;
}


#message {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5rem 1rem;
    border: 1px solid yellow;
    background: rgba(0, 0, 0, 0.76);
    box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.493);
    text-align: center;
    margin: 0 auto 1rem;
    color: rgb(1, 255, 1);
}

.radio-picture {
}

#play-button {

}

#stop-button {

}