#scroll-bar {
    position: relative;
    width: 800px;
    margin: 8rem auto;
    text-align: center;
}

#play-button {
    position: absolute;
    top: -18px;
    z-index: 120;
    height: 50px;
    width: 20px;
    left: 135px;
    border-bottom: 0.5px solid black;
    border-top: 0.5px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    transition: left 0.4s;
    background: rgba(136, 136, 136, 0.74);
    border-radius: 2px;
    box-shadow: 0 -1px 3px 3px inset rgb(51, 51, 51), 0 1px 5px 2px rgb(51, 51, 51, 0.685);
    transform: all 2s;
}


#background {
    position: relative;
    margin: 0 auto;
    height: 10px;
    width: 600px;
    background: rgb(65, 65, 65);
    border-radius: 20px;
}

.radio-picture {
    width: inherit;
    box-sizing: border-box;
    z-index: 199;
    

}

.radio-picture:hover {

}

.radio-button {
    width: 60px;
    position: absolute;
    height: 60px;
    display: flex;   
    border-radius: 50%;
    padding: 0.2rem 0.6rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    transition: transform 0.2s;
    transform: scale(100%);
    z-index: 200;
    border: 0px solid white;
    border-radius: 50%;
    transition: transform 2s, border 0.1s, background-color 0.3s, box-shadow 0.8s;
}


.radio-button:hover {
    transform: scale(170%);
    transition: transform 0.3s, border 1s, background-color 0.3s, box-shadow 0.8s;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.301);

}
/* .radio-button:hover .flash{
    width: 0;
    left: 65px;
    filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.479);
    transition: left 0.2s, width 0.2s;
} */

#picture-emotion-98{
    top: -130px;
    left: 55px;
}
#picture-espantoso{
    bottom: -100px;
    left: 25px;
}
#picture-fever-105{
    top: -130px;
    left: 165px;
}
#picture-flash-fm{
    bottom: -145px;
    left: 95px;
}
#picture-v-rock{
    bottom: -115px;
    left: 180px;
}
#picture-wave-103{
    bottom: -15px;
    left: -15px;
}
#picture-wildstyle{
    bottom: -15px;
    right: -15px;
}

.trait-up {
    top: -5px;
    height: 10px;
    width: 5px;
    border-radius: 8px;
    position: absolute;
    background-color: rgb(65, 65, 65);
}
.trait-down {
    top: 5px;
    height: 10px;
    width: 5px;
    border-radius: 8px;
    position: absolute;
    background-color: rgb(65, 65, 65);
}

#trait-2 {
    left : 145px;
}

#trait-3 {
    left : 295px;
}

#trait-4 {
    left : 445px;
}

#trait-5 {
    left : 595px;
}
#trait-6 {
    left : 70px;
}

#trait-7 {
    left : 220px;
}

#trait-8 {
    left : 370px;
}

#trait-9 {
    left : 520px;
}