#scroll-bar {
    position: relative;
    width: 800px;
    margin: 8rem auto;
    text-align: center;
}

#play-button {
    position: absolute;
    top: -18px;
    z-index: 120;
    height: 50px;
    width: 20px;
    left: 135px;
    border: 1px solid black;
    transition: left 0.4s;
    background: rgb(134, 89, 37);
    border-radius: 2px;
    box-shadow: -1px -3px 6px 2px inset rgb(92, 62, 26);
    transform: all 2s;
}


#background {
    position: relative;
    margin: 0 auto;
    height: 10px;
    width: 600px;
    background: rgb(65, 65, 65);
    border-radius: 20px;
}

.radio-picture {
    width: inherit;
    box-sizing: border-box;
    z-index: 199;

}

.radio-button {
    width: 60px;
    position: absolute;
    height: 60px;
    display: flex;   
    border-radius: 20px;
    padding: 0.2rem 0.6rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    transition: transform 0.2s;
    transform: scale(100%);
}

/* .flash {
    position: absolute;
    width: 5px;
    height: 30px;
    left: -25px;
    z-index: 200;
    display: inline;
    transform: rotate(20deg);
    background-color: transparent;
    box-sizing: border-box;
} */

.radio-button:hover {
    transform: scale(170%);
    transition: transform 0.3s;
}
/* .radio-button:hover .flash{
    width: 0;
    left: 65px;
    filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.479);
    transition: left 0.2s, width 0.2s;
} */

#picture-emotion-98{
    top: -100px;
    left: 55px;
}
#picture-espantoso{
    top: 30px;
    left: 125px;
}
#picture-fever-105{
    top: -100px;
    left: 195px;
}
#picture-flash-fm{
    top: 30px;
    left: 275px;
}
#picture-k-chat{
    top: -100px;
    left: 355px;
}
#picture-v-rock{
    top: 30px;
    left: 425px;
}
#picture-vcpr{
    top: -100px;
    left: 505px;
}
#picture-wave-103{
    top: 30px;
    left: 575px;
}
#picture-wildstyle{
    top: -100px;
    left: 645px;
}

.trait-up {
    top: -5px;
    height: 10px;
    width: 5px;
    border-radius: 8px;
    position: absolute;
    background-color: rgb(65, 65, 65);
}
.trait-down {
    top: 5px;
    height: 10px;
    width: 5px;
    border-radius: 8px;
    position: absolute;
    background-color: rgb(65, 65, 65);
}

#trait-2 {
    left : 145px;
}

#trait-3 {
    left : 295px;
}

#trait-4 {
    left : 445px;
}

#trait-5 {
    left : 595px;
}
#trait-6 {
    left : 70px;
}

#trait-7 {
    left : 220px;
}

#trait-8 {
    left : 370px;
}

#trait-9 {
    left : 520px;
}